.dashboard {
    max-width: 1200px;
    margin-inline: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr 1fr;

        .dashboard {
            padding: 10px;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

.dashboard-card {
    background-color: var(--mat-sys-surface-container-low);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.card-header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-header > img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}

.open-ticket-list {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
}

.open-ticket-list thead {
    font-weight: 400;
    font-size: 14px;
}

.open-ticket-list tr {
    border-radius: 8px;
    background-color: var(--mat-sys-surface-container);
}

.open-ticket-list td, .open-ticket-list th {
    text-align: left;
    padding: 10px;
}

.open-ticket-list td:first-child > a {
    background-color: var(--mat-sys-surface-container-highest);
    border-radius: 5px;
    padding: 4px 12px;
    text-decoration: none;
    color: var(--mat-sys-on-surface);
    font-weight: 500;
}

.open-ticket-list td:last-child > span {
    background-color: #377f27;
    border-radius: 5px;
    padding: 4px 12px;
    color: var(--mat-sys-on-surface);
    font-weight: 500;
    color: white;
}

.open-ticket-list td:first-child > a:hover {
    background-color: var(--mat-sys-surface-container-high);
}

.open-ticket-list td:first-child, .open-ticket-list th:first-child {
    padding-left: 10px;
    width: 100px;
}

.open-ticket-list td:nth-child(2) {
    width: 40%;
}

.number-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 50px;

    @media (max-width: 900px) {
        padding-block: 25px;
    }

    @media (max-width: 1200px) {
        padding-block: 20px;
    }
}

.number-card > img {
    width: 50px;
    height: 50px;

    @media (max-width: 1200px) {
        display: none;
    }
}

.number-card > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15px;
    text-align: right;

    @media (max-width: 1200px) {
        text-align: left;
        align-items: flex-start;
    }
}

.number-card > div > span:first-child {
    font-size: 36px;
    font-weight: 700;

    @media (max-width: 900px) {
        font-size: 28px;
    }
}

.number-card > div > span:last-child {
    font-size: 12px;
    opacity: 80%;
}

.button-card {
    flex-direction: row;
    align-items: flex-end;
    gap: 25px;
    padding: 40px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-card:hover {
    background-color: var(--mat-sys-surface-container-high);
}

.button-card > img {
    width: 100px;
    height: 100px;
}

.button-card > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-card > div > span:first-child {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.button-card > div > span:last-child {
    font-size: 12px;
    margin-bottom: 8px;
    opacity: 70%;
}

@media (max-width: 1100px) {
    .open-ticket-list .open-ticket-list-row td:nth-child(4),
    .open-ticket-list .open-ticket-list-row th:nth-child(4) {
        display: none;
    }
}

@media (max-width: 900px) {
    .open-ticket-list .open-ticket-list-row td:nth-child(3),
    .open-ticket-list .open-ticket-list-row th:nth-child(3) {
        display: none;
    }
}

@media (max-width: 800px) {
    .dashboard-card {
        padding: 16px;
    }

    .open-ticket-list td:first-child, .open-ticket-list th:first-child {
        padding-left: 10px;
    }

    .open-ticket-list td:nth-child(2) {
        width: 70%;
    }
}

@media (max-width: 700px) {
    .open-ticket-list .open-ticket-list-row td:nth-child(5),
    .open-ticket-list .open-ticket-list-row th:nth-child(5) {
        display: none;
    }
}

.grid-full {
    grid-column: span 6;

    @media (max-width: 900px) {
        grid-column: span 3;
    }
}