.auth-shell {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--mat-sys-surface, #fff);
}

.card {
    width: 100%;
    max-width: 420px;
    padding-inline: 20px;
    padding-block: 40px;
    border-radius: 32px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
    background: var(--mat-sys-surface, #fff);
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .card {
        box-shadow: none;
        border-radius: 0;
        padding: 0;

    }
}

.app-logo {
    display: block;
    margin: 0 auto 50px auto;
    width: 250px;
    height: auto;
}